* {
    box-sizing: border-box;
  }
  .logo {
    background: url('freshservice_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 25px;
    margin-top: 25px;
  }
  p{
      text-align: center;
  }
  .add,.show{
    background-color:#e7e7e7;
    position: absolute; 
    left: 20px;
  }
  .clear1
  {
    background-color:#e7e7e7;
    position: absolute; 
    left: 200px; 
  }



  